.lang>* {
    height: 35px;
    width: 45px;
    display: inline-block;
    background-size: 100% 100%;
    position: relative;
    z-index: 999;
}
.lang .ro {
    background-image: url("images/ro.png");
}
.lang .en {
    background-image: url("images/en.png");
}

