body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
    transition: margin-left .5s;
    padding: 16px;
    z-index: 1;
    position: relative;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
    background-image: url("images/bg_home.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;

}

.lang {
    
    width: 90px;
    z-index: 1;
    position: relative;
}
.lang>* {
    height: 35px;
    width: 45px;
    display: inline-block;
    background-size: 100% 100%;
}
.lang .ro {
    background-image: url("images/ro.png");
}
.lang .en {
    background-image: url("images/en.png");
}