body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

div.main {
    transition: margin-left .5s;
    padding: 16px;
    position: relative;
    z-index: -1;
    height: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
    background-image: url("images/bg_home.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;

}

.lang {
    
    width: 50px;
    position: relative;
    z-index: -1;
}
.lang>* {
    height: 35px;
    width: 45px;
    display: inline-block;
    background-size: 100% 100%;
    position: relative;

}
.lang .ro {
    background-image: url("images/ro.png");
}
.lang .en {
    background-image: url("images/en.png");
}

.btn{
  background-color: #5F9EA0;
  border: none;
}

.btn:hover{
  background-color: #2F4F4F;
}

.btn:active{
  background-color: #2F4F4F;
}

.btn-primary:focus {
  background-color: #2F4F4F;
  background-position: 0 -15px;
}

.btn-primary.active {
  background-color: #2F4F4F;
  border-color: #b92c28;
}

fieldset[disabled] .btn-primary.active {
  background-color: #2F4F4F;
  background-image: none;
}

.btn-primary.focus {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #761c19;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #255625;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5F9EA0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2F4F4F;
}

input:focus + .slider {
  box-shadow: 0 0 1px ##2F4F4F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#menu_container{
  position: relative;
  z-index: 6;
  width: 20%;
}

#menuSidenav{
  position: fix;
  z-index: 6;
}