.container{
	height: 100%;
	position: relative;
}

#menu{
	position: absolute;
	height: 100%;
}

body, html{
	height: 100%;
}

#menu {
    background-color: lightblue;
   	
    width: 300px;
    left: 50px;
    position: relative;
  	font-weight: bold;
	  line-height: 4;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: baseline;
	  border-radius: .25em;
	  height: 60%;
}


 .nav-tabs > li > a {
 	line-height: 1px;
 }

 .nav{
 	 	color: rgb(255,255,255);

 }