.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5F9EA0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2F4F4F;
}

input:focus + .slider {
  box-shadow: 0 0 1px ##2F4F4F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.left{
  width: 150px;
  margin: 40px auto;
  float: left;
}

.btn{
  background-color: #5F9EA0;
  border: none;
}

.btn:hover{
  background-color: #2F4F4F;
}

.btn:active{
  background-color: #2F4F4F;
}

.btn-danger:focus {
  background-color: #2F4F4F;
  background-position: 0 -15px;
}

.btn-success:focus {
  background-color: #2F4F4F;
  background-position: 0 -15px;
}

.btn-danger.active {
  background-color: #2F4F4F;
  border-color: #b92c28;
}

.btn-success.active {
  background-color: #2F4F4F;
  border-color: #b92c28;
}

fieldset[disabled] .btn-danger.active {
  background-color: #2F4F4F;
  background-image: none;
}

fieldset[disabled] .btn-success.active {
  background-color: #2F4F4F;
  background-image: none;
}


.btn-danger.focus {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #761c19;
}

.btn-success.focus {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #761c19;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #761c19;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #255625;
}

.hvac-switch{
  position:relative;
  z-index: 8;
}