.btn{
  background-color: #5F9EA0;
  border: none;
}

.btn:hover{
  background-color: #2F4F4F;
}

.btn:active{
  background-color: #2F4F4F;
}

.btn-primary:focus {
  background-color: #2F4F4F;
  background-position: 0 -15px;
}

.btn-primary.active {
  background-color: #2F4F4F;
  border-color: #b92c28;
}

fieldset[disabled] .btn-primary.active {
  background-color: #2F4F4F;
  background-image: none;
}

.btn-primary.focus {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #761c19;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #255625;
}

 #slider22 .slider-selection {
        background: #81bfde;
    }

    #slider22 .slider-rangeHighlight {
        background: #f70616;
    }


.panel-group{
  width: 40%;
}

#sensor-head{
  position: relative;
  display: inline-block;
}