 #slider22 .slider-selection {
        background: #81bfde;
    }

    #slider22 .slider-rangeHighlight {
        background: #f70616;
    }


.panel-group{
  width: 40%;
}

#sensor-head{
  position: relative;
  display: inline-block;
}