
.left{
  width: 150px;
  margin: 40px auto;
  float: left;
}

#switch{
  display: inline;
}
#switch_area table td {
  padding: 5px 10px;
}

#add-button{
	position: relative;
	/*z-index: 11;*/
}

div#lighting-winow{
	position: relative;
	z-index: 11;
}