.row {
    background-color: lightblue;
    background-clip: padding-box;
    box-shadow: 10px 10px 5px #888888;
    box-sizing:border-box;
    width: 300px;
    left: 50px;
    position: relative;
    padding: 10px;
}

.login_row{
    top: 10px;
    position: absolute;
    left: 200px
}

#login_container{
    width: 30%;
}

#menu_container{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}
#menu_container .main>*{
    font-size:30px;
    cursor:pointer;
}

.box {
    display: inline-block;
    width: 300px;
}

#login_box{
	float: left;
}

#signup_box{
	float: left;

}

.col-sm-10 {
	display:block;
    margin:0 auto;
    width:80%;
    height:80%;
}

label {
    display: inline-block;
}

input{
    display: inline-block;
}